alpaca-py
plotly
matplotlib
pandas
python-dotenv
numpy
tqdm
seaborn
# for the gradio app: (specific old versions because: https://github.com/gradio-app/gradio/issues/9322)
gradio==4.38.0
pandas~=2.2.2
pydantic==2.9.0
fastapi==0.112.2
pydantic-core==2.23.2